@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,700;1,400&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    /* Background */
    --dark-blue-main:  hsl(218, 28%, 13%);
    --dark-blue-intro-email: hsl(217, 28%, 15%);
    --dark-blue-footer:  hsl(216, 53%, 9%);
    --dark-blue-testimonials:  hsl(219, 30%, 18%);

    /* Other colors */
    --blue: #339ecc;
    --cyan: #65e2d9;
    --light-Red: hsl(0, 100%, 63%);

    /* Default */
    --white: hsl(0, 0%, 100%);
}

html {
    font-size: 62.5%; /* 10px */
}

body {
    background-color: var(--dark-blue-main);
    color: var(--white);
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
}

main {
    margin-bottom: 12.0rem;
}

header,
main section:nth-child(1) {
    /* border: 1px solid red; */
    background-color: var(--dark-blue-intro-email);

    /* background-image: url('./assets/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-position: center 400px;
    background-size: cover; */
}

.header-box,
.introduction {
    /* border: 1px solid green; */
    margin: 0 auto;
    max-width: 144.0rem;
}

/* .introduction {
    padding-bottom: 20rem;
} */

/* ########## HEADER ########## */
.header-box {
    /* border: 1px solid blue; */
    padding: 7.1rem 7.9rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-menu nav ul {
    display: flex;
}

.navigation-menu nav ul li a {
    color: var(--white);
    margin-right: 6.0rem;
    letter-spacing: 0.04rem;
}

.navigation-menu nav ul li a:hover {
    font-weight: 700;
    letter-spacing: 0;
    border-bottom: 1px solid var(--white);
}

.navigation-menu nav ul li:nth-child(3) a {
    margin-right: 0;
}

/* ########## MAIN ########## */
/* ########## INTRODUCTION */
.introduction {    
    display: flex;
    align-items: center;
    flex-direction: column;
}

.introduction img {
    margin-bottom: 4.0rem;
}

.introduction strong {
    font-size: 4.0rem;
    line-height: 5.6rem;
    margin-bottom: 3.8rem;
    /* padding: 0 38.0rem 3.8rem; */
    text-align: center;
    width: 80rem;
}

.introduction p {
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 2.8rem;
    /* padding: 0 42.8rem 3.5rem; */
    letter-spacing: 0.02rem;
    margin-bottom: 3.8rem;
    text-align: center;
    width: 60rem;
}

.button {
    background-color: var(--blue);
    background: linear-gradient(266deg, rgba(51,158,204,1) 0%, rgba(0,212,255,1) 100%);
    border-radius: 40px;
    color: var(--white);
    font-weight: 700;
    padding: 1.8rem 9.6rem;
    transition: 300ms;
}

.button:hover {
    background: var(--cyan);
    background: linear-gradient(266deg, rgba(0,212,255,1) 0%, rgba(51,158,204,1) 100%);
}

main section:nth-child(1) {
    padding-bottom: 15.0rem;
    background-image: url('./assets/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-position: center 650px;
    background-size: 100% 40%;
}

/* ########## SERVICES */
.services {
    /* border: 1px solid red; */
    margin-bottom: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services .cards {
    /* border: 1px solid green; */
    max-width: 144.0rem;
    /* padding: 3.5rem; */
    /* width: 100%; */
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 8.0rem;
}

.services .card {
    /* border: 1px solid yellow; */
    padding: 2.0rem 0;
    width: 45.0rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services .card img {
    margin-bottom: 3.2rem;
    /* width: 8.5rem; */
    height: 8.0rem;
} 

.services .card span {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: .1rem;
    margin-bottom: 1.2rem;
}

.services .card p {
    font-size: 1.4rem;
    letter-spacing: .05rem;
    line-height: 2.0rem;
    text-align: center;
    padding: 0 2.0rem;
}

/* ########## PRODUCTIVE */
.productive {
    /* border: 1px solid red; */
    margin-bottom: 8rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.box-productive {
    /* border: 1px solid blue; */
    max-width: 144.0rem;
    padding: 0 10rem;

    display: flex;
}

.box-productive div {
    /* border: 1px solid yellow; */
    width: 100%;
}

.box-productive .productive-img {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.box-productive .productive-info {
    /* border: 1px solid green; */
    padding: 12.0rem 4rem;
}

.box-productive .productive-info strong {
    display: block;
    font-size: 4.0rem;
    letter-spacing: 0.2rem;
    margin-bottom: 2.5rem;
    /* padding: 0 4rem; */
}

.box-productive .productive-info p {
    /* letter-spacing: 0.01rem; */
    /* letter-spacing: 0.01rem; */
    line-height: 2.5rem;
    /* padding: 0 4rem; */
}

.box-productive .productive-info p:nth-child(2) {
    margin-bottom: 1.2rem;
}

.box-productive .productive-info p:nth-child(3) {
    margin-bottom: 2.6rem;
}

.box-productive .productive-info a {
    border-bottom: 1px solid var(--cyan);
    color: var(--cyan);
    font-weight: 400;
    padding-bottom: 0.4rem;
    transition: 300ms;
}

.box-productive .productive-info a span {
    background-color: var(--cyan);
    border-radius: 50%;
    color: var(--dark-blue-main);
    font-size: 1rem;
    margin-left: 0.5rem;
    padding: 0.2rem;
    transition: 300ms;
}

.box-productive .productive-info a:hover {
    border-bottom: 1px solid var(--white);
    color: var(--white);
}

.box-productive .productive-info a:hover span {
    background-color: var(--white);
}

/* ########## COMMENTS */
.comments {
    /* border: 1px solid red; */
    padding: 8rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.comments .cards {
    /* border: 1px solid blue; */
    max-width: 144.0rem;
    padding: 0 12rem;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 3rem;
}

.comments .card {
    background-color: var(--dark-blue-testimonials);
    border-radius: 5px;
    box-shadow: 8px 6px 8px 2px #28364d30;
    padding: 3rem 3.0rem;
    position: relative;
    width: 100%;
}

.comments .card .quotes {
    position: absolute;
    top: -35px;
    left: -10px;
    z-index: -1;
}

.comments .card div p {
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    margin-bottom: 2.5rem;
}

.comments .profile {
    display: flex;
    align-items: start;
}

.comments .profile .profile-avatar {
    /* border: 1px solid red; */
    width: 15%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.comments .profile .profile-avatar img {
    /* border: 1px solid yellow; */

    border-radius: 50%;
    width: 100%;
}

.comments .profile .profile-info {
    margin-top: 2px;
    margin-left: 12px;
}

.comments .profile .profile-info strong {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.comments .profile .profile-info span {
    font-size: 1.2rem;
}

/* ########## FOOTER */
/* ########## COMMENTS */
.email {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.email .box-email {
    background-color: var(--dark-blue-intro-email);
    border-radius: 8px;
    /* border: 1px solid var(--dark-blue-main); */
    max-width: 90.0rem;
    padding: 4.0rem 1.0rem;

    display: flex;
    text-align: center;
    flex-direction: column;
}

.email .box-email .info-email strong {
    display: block;
    font-size: 3.0rem;
    letter-spacing: 0.1rem;
    margin-bottom: 2.5rem;
}

.email .box-email .info-email p {
    font-size: 1.4rem;
    /* letter-spacing: 0.1rem; */
    line-height: 2.0rem;
    margin-bottom: 4rem;
    padding: 0 12rem;
}

.email .box-email .send-email form input {
    border: none;
    border-radius: 30px;
    padding: 1.6rem 4.0rem;
    width: 48.0rem;
}

.email .box-email .send-email form input::placeholder{
    color: #b4b4b4;
}

.email .box-email .send-email form input:focus {
    border: 1px solid var(--blue);
    outline: none;
    transition: 300ms;
}

.email .box-email .send-email form button {
    background-color: var(--blue);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    /* color: var(--white); */
    /* font-weight: 700; */
    margin-left: 2.8rem;
    padding: 1.6rem 3.5rem;
}

