@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,700;1,400&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    /* Background */
    --dark-blue-main:  hsl(218, 28%, 13%);
    --dark-blue-intro-email: hsl(217, 28%, 15%);
    --dark-blue-footer:  hsl(216, 53%, 9%);
    --dark-blue-testimonials:  hsl(219, 30%, 18%);

    /* Other colors */
    --blue: #339ecc;
    --cyan: #65e2d9;
    --light-Red: hsl(0, 100%, 63%);

    /* Default */
    --white: rgb(255, 255, 255);
}

html {
    font-size: 62.5%; /* 10px */
}

body {
    background-color: var(--dark-blue-main);
    color: var(--white);
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
}

.sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

header {
    z-index: 1;

    position: fixed; 
    left: 0;
    top: 0;
}

header,
section {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

header,
main section:nth-child(1) {
    background-color: var(--dark-blue-intro-email);
}

.introduction,
.services,
.productive,
.comments {
    max-width: 144.0rem;
}

/* ########## HEADER ########## */
.header-box {
    max-width: 144.0rem;
    /* padding: 7.1rem 7.9rem; */
    padding: 7.1rem 7.9rem 1rem;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-box .section-logo .button-menu {
    display: none;
    overflow: hidden;
    visibility: hidden;
}

.navigation-menu nav ul {
    display: flex;
}

.navigation-menu nav ul li a {
    color: var(--white);
    margin-right: 6.0rem;
    letter-spacing: 0.04rem;
}

.navigation-menu nav ul li a:hover {
    font-weight: 700;
    letter-spacing: 0;
    border-bottom: 1px solid var(--white);
}

.navigation-menu nav ul li:nth-child(3) a {
    margin-right: 0;
}

/* ########## MAIN ########## */
/* ########## INTRODUCTION */
main {
    margin-bottom: 28.0rem;
}

.introduction {
    margin-top: 19.8rem;
    margin-bottom: 14.0rem;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.introduction img {
    margin-bottom: 4.0rem;
}

.introduction strong {
    font-size: 4.0rem;
    line-height: 5.6rem;
    margin-bottom: 3.8rem;
    text-align: center;
    width: 80rem;
}

.introduction p {
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 2.8rem;
    letter-spacing: 0.02rem;
    margin-bottom: 3.8rem;
    text-align: center;
    width: 60rem;
}

.button {
    background-color: var(--blue);
    border-radius: 40px;
    color: var(--white);
    font-weight: 700;
    padding: 1.8rem 9.6rem;
    transition: 300ms;
}

.button:hover {
    background: var(--cyan);
}

main section:nth-child(1) {
    background-image: url('./assets/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-position: center 750px;
    background-size: 100% 40%;
}

/* ########## SERVICES */
.services {
    margin-bottom: 8rem;
}

.services .cards {    
    display: grid;
    grid-template-columns: repeat(2, 52rem);
    justify-items: center;
    gap: 5rem 0;
}

.services .card {
    padding: 2.0rem 0;
    width: 45.0rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services .card img {
    margin-bottom: 3.2rem;
    height: 8.0rem;
} 

.services .card span {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: .1rem;
    margin-bottom: 1.2rem;
}

.services .card p {
    font-size: 1.4rem;
    letter-spacing: .05rem;
    line-height: 2.0rem;
    text-align: center;
    padding: 0 2.0rem;
}

/* ########## PRODUCTIVE */
.productive {
    margin-bottom: 10rem;
}

.box-productive {
    display: flex;
}

.box-productive div {
    width: 100%;
}

.box-productive .productive-img {
    padding: 3rem 0 0 11rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.box-productive img {
    width: 100%;
}

.box-productive .productive-info {
    padding: 14.5rem 6.5rem 0;
}

.box-productive .productive-info strong {
    font-size: 4.0rem;
    letter-spacing: 0.03rem;
    margin-bottom: 2.5rem;
    padding: 0 11rem 0 0;
    display: block;
}

.box-productive .productive-info p {
    letter-spacing: 0.01rem;
    line-height: 2.5rem;
    padding: 0 4rem 0 0px;
}

.box-productive .productive-info p:nth-child(2) {
    margin-bottom: 1.2rem;
}

.box-productive .productive-info p:nth-child(3) {
    margin-bottom: 2.6rem;
}

.box-productive .productive-info a {
    border-bottom: 1px solid var(--cyan);
    color: var(--cyan);
    font-weight: 400;
    padding-bottom: 0.4rem;
    transition: 300ms;
}

.box-productive .productive-info a span {
    background-color: var(--cyan);
    border-radius: 50%;
    color: var(--dark-blue-main);
    font-size: 1rem;
    margin-left: 0.5rem;
    padding: 0.2rem;
    transition: 300ms;
}

.box-productive .productive-info a:hover {
    border-bottom: 1px solid var(--white);
    color: var(--white);
}

.box-productive .productive-info a:hover span {
    background-color: var(--white);
}

/* ########## COMMENTS */
.comments {
    padding: 8rem 0;
}

.comments .cards {
    display: grid;
    grid-template-columns: repeat(3, 36.5rem);
    gap: 3rem;
}

.comments .card {
    background-color: var(--dark-blue-testimonials);
    border-radius: 5px;
    box-shadow: 8px 6px 8px 2px #28364d30;
    padding: 3rem 3.0rem;
    position: relative;
    width: 100%;
}

.comments .card .quotes {
    position: absolute;
    top: -35px;
    left: -10px;
    z-index: -1;
}

.comments .card div p {
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    margin-bottom: 2.5rem;
}

.comments .profile {
    display: flex;
    align-items: start;
}

.comments .profile .profile-avatar {
    width: 15%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.comments .profile .profile-avatar img {
    border-radius: 50%;
    width: 100%;
}

.comments .profile .profile-info {
    margin-top: 2px;
    margin-left: 12px;
}

.comments .profile .profile-info strong {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.comments .profile .profile-info span {
    font-size: 1.2rem;
}

/* ########## FOOTER */
/* ########## COMMENTS */
.email {
    padding: 0 6rem;
    width: 100%;
    
    position: absolute;
    top: -150px;
    left: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.email .box-email {
    background-color: var(--dark-blue-intro-email);
    border-radius: 8px;
    max-width: 90.0rem;
    padding: 4.0rem 1.0rem;

    display: flex;
    text-align: center;
    flex-direction: column;
}

.email .box-email .info-email strong {
    font-size: 3.0rem;
    letter-spacing: 0.1rem;
    margin-bottom: 2.5rem;

    display: block;
}

.email .box-email .info-email p {
    font-size: 1.4rem;
    line-height: 2.0rem;
    margin-bottom: 4rem;
    padding: 0 12rem;
}

.email .box-email .send-email form input {
    border: none;
    border-radius: 30px;
    padding: 1.6rem 4.0rem;
    width: 48.0rem;
}

.email .box-email .send-email form input::placeholder{
    color: #b4b4b4;
}

.email .box-email .send-email form input:focus {
    outline: none;
    transition: 300ms;
}

.email .box-email .send-email form button {
    background-color: var(--blue);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 2.8rem;
    padding: 1.6rem 3.5rem;
}

.email .box-email .send-email form .button:hover {
    background-color: var(--cyan);
}

/* ########## FOOTER */
footer {
    background-color: var(--dark-blue-footer);
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

footer .footer {
    padding: 20rem 0 15rem 0;
    width: 100%;
    max-width: 120.0rem;
}

footer .footer .footer-info {
    padding-top: 4.0rem;

    display: grid;
    grid-template-columns: 38rem 20rem 12rem 12rem 14rem;
    justify-content: space-between; 
}

footer .footer .footer-info .location,
footer .footer .footer-info .contact {
    display: flex;
    align-items: flex-start;
}

footer .footer .footer-info .location span:nth-child(2) {
    margin-left: 2.0rem;
}

footer .footer .footer-info .contact {
    flex-direction: column;
}

footer .footer .footer-info .contact span {
    margin-bottom: 2.0rem;
    
    display: flex;
    align-items: center;
}

footer .footer .footer-info .contact span img {
    margin-right: 2.0rem;
}

footer .footer .footer-info .about-us span,
footer .footer .footer-info .contact-us span {
    display: block;
    padding-bottom: 1.0rem;
}

footer .footer .footer-info .social-media {
    display: flex;
    justify-content: space-between;
}

footer .footer .footer-info .social-media a {
    border: 1px solid var(--white);
    border-radius: 50%;
    display: block;
    height: 35px;
    padding: 0.6rem;
    transition: 300ms;
    width: 35px;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer .footer .footer-info .social-media a:hover {
    border: 1px solid var(--cyan);
    background-color: var(--cyan);
}

footer .footer .footer-info .social-media a .test:hover  {
    filter: hue-rotate(90deg);
}

footer .footer .footer-info .social-media img {
    width: 100%;
}

/* ########## RESPONSIVE ########## */
@media screen and (max-width: 1158px) {
    .comments .cards {
        grid-template-columns: repeat(3, 32rem);
    }

    footer .footer {
        padding: 20rem 2rem 15rem 2rem;
    }
}

@media screen and (max-width: 1060px) {
    main section:nth-child(1) {
        background-position: center 680px;
    }

   .introduction img {
        width: 70%;
    }

    .box-productive {
        display: block;
    }

    .box-productive .productive-img {
        padding: 0;
    }

    .box-productive img {
        width: initial;
    }

    .services .cards {
        display: block;
    }

    .services .cards {
        margin-bottom: 8rem;
    }

    .comments .cards {
        padding: 0 8rem;
        display: block;
    }

    .comments .card {
        margin-bottom: 4rem;
        width: 36.5rem;
    }

    footer .footer .footer-info .location {
        grid-area: line1;
    }
    footer .footer .footer-info .contact {
        grid-area: line2;
    }
    footer .footer .footer-info .about-us {
        grid-area: line3;
    }
    footer .footer .footer-info .contact-us {
        grid-area: line4;
    }
    footer .footer .footer-info .social-media {
        grid-area: line5;
        gap: 2rem;
        justify-content: center;
    }

    footer .footer .footer-logo {
        padding: 0 4.0rem;
    }

    footer .footer .footer-info {
        padding: 4rem 4.0rem 0;
        grid-template-columns: repeat(2, 20rem);
        gap: 5rem;
        grid-template-areas:
            "line1 line3"
            "line2 line4"
            "line5 line5"
            ;
        justify-content: space-between;
    }
}

@media screen and (max-width: 850px) {
    .email .box-email .send-email form input {
        width: 50%;
        margin-bottom: 3rem;
    }

    footer .footer {
        padding: 30rem 0 15rem 0;
    }
}

@media screen and (max-width: 800px) {
    main section:nth-child(1) {
        background-position: center 660px;
    }

    .header-box {
        padding: 4rem 4rem;
    }

    .introduction strong,
    .introduction p {
        width: initial;
    }

    .productive .box-productive .productive-img {
        padding: 0 8rem;
    }

    .productive .box-productive .productive-img img {
        width: 100%;
    }

    .box-productive .productive-info {
        padding: 8rem 6rem 0;
    }

    .productive .box-productive .productive-info strong,
    .productive .box-productive .productive-info p {
        padding: 0;
    }

    .email .box-email {
        padding: 4rem 4rem;
    }

    .email .box-email .info-email p {
        padding: 0;
    }

    .email .box-email .send-email form button {
        margin: 0;
    }

    .email .box-email .send-email form input,
    .email .box-email .send-email form button {
        width: 100%;
    }
}

@media screen and (max-width: 580px) {
    .header-box {
        padding: 4rem 2rem;
    }

    .navigation-menu nav ul li a {
        margin-right: 3rem;
    }

    .header-box .logo img {
        width: 12rem;
    }

    .introduction img {
        width: 80%;
    }

    .box-productive .productive-info {
        padding: 8rem 4rem 0;
    }

    .productive .box-productive .productive-img {
        padding: 0 3rem;
    }

    .productive .box-productive .productive-info strong {
        font-size: 2.5rem;
    }

    .comments .cards {
        padding: 0;
    }

    .email .box-email {
        padding: 4rem 2rem;
    }

    .email .box-email .info-email strong {
        font-size: 2rem;
    }

    footer .footer {
        padding: 36rem 0 10rem;
    }

    footer .footer .footer-info {
        display: block;
    }

    footer .footer .footer-info span {
        display: block;
        padding: 1rem 0;
    }

    footer .footer .footer-info .contact span {
        padding: 0.5rem 0;
    }

    footer .footer .footer-info .contact,
    footer .footer .footer-info .about-us, 
    footer .footer .footer-info .contact-us {
        margin-bottom: 4rem;
    }
}


@media screen and (max-width: 460px) {
    main section:nth-child(1) {
        background-position: 50% 570px !important;
        background-size: 200% 50% !important;
    }

    .header-box .section-logo {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-box .section-logo .button-menu {
        background: none;
        border: none;

        display: initial;
        overflow: visible;
        visibility: visible;
    }

    .header-box .section-logo .button-menu span {
        color: var(--white);
        font-size: 4rem;
        transition: 400ms;
    }

    .header-box {
        position: relative;

        align-items: flex-start;
        flex-direction: column;
    }

    .header-box .navigation-menu {
        margin-top: 103.53px;
        opacity: 0;
        transition: 500ms;
        width: 100%;

        position: fixed;
        top: 0rem;
        left: 110%;
    }

    .active {
        top: 0;
        left: 0 !important;
        opacity: 1 !important;
        overflow: hidden;
    }

    .header-box .navigation-menu nav ul {
        background-color: var(--dark-blue-footer);
        flex-direction: column;
        height: calc(100vh - 103.53px);
        padding: 1rem 1rem 0;
    }

    .header-box .navigation-menu nav ul li {
        background: var(--dark-blue-intro-email);
        background: linear-gradient(266deg, var(--dark-blue-footer) 0%, var(--dark-blue-intro-email) 50%);
        border-radius: 8px;
        margin-bottom: 2rem;
        padding: 2rem 1rem;
        width: 100%;
    }

    .header-box .navigation-menu nav ul li a {
        font-size: 1.8rem;
        font-weight: 700;
        
        display: block;
    }

    .header-box .navigation-menu nav ul li a:hover {
        border: none;
        filter: brightness(50%);
    }

    main section:nth-child(1) {
        background-position: 60% 300px;
        background-size: 180% 100%;
    }

    .header-box {
        padding: 3.5rem 1rem;
    }

    .header-box .logo img {
        width: 10rem;
    }

    .navigation-menu nav ul li a {
        margin-right: 2rem;
    }

    .introduction {
        margin-top: 12.8rem;
    }

    .introduction strong {
        font-size: 2.5rem;
        line-height: 3.6rem;
    }

    .introduction p {
        font-size: 1.6rem;
        padding: 0 1rem;
    }

    .services .card {
        width: initial;
    }

    .box-productive .productive-info {
        padding: 6rem 3rem 0;
    }

    .productive .box-productive .productive-info strong {
        font-size: 1.6rem;
    }

    .comments .cards {
        padding: 1rem;
    }

    .comments .card .quotes {
        left: 4px;
    }

    .comments .card {
        width: initial;
    }

    .email {
        padding: 0 1rem;
    }
}

/* ########## DEV ########## */
.dev {
    width: 100%;
    padding: 0 2rem 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dev span {
    margin-right: 2rem;
}

.dev span:nth-child(2) {
    margin: 0;
}

.dev span a { 
    color: var(--cyan);
    font-weight: 700;
    cursor: pointer;
}


/* ########## SCROLLBAR ########## */
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--blue) var(--dark-blue-footer);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--dark-blue-footer);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--blue);
  }
